/* Style for the contact form container */
/* Set the background color of the entire page */
body {
    background-color: hwb(52 44% 13%); /* Replace with your preferred color code */
    font-size: larger;
    font-family:cursive;
    text-align: center;
    text-decoration: solid;

}
/* Place the image in the top-left corner */
.corner-image {
    width: 50px; /* Adjust the width as needed */
    position: absolute;
    top: 0;
    left: 0;
    /* Add additional styles if necessary */
}
#contact-form {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style for form input fields */
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the submit button */
#contact-form button[type="submit"] {
    background-color: #6a1a1a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-form button[type="submit"]:hover {
    background-color: hsl(0, 42%, 28%);
}
